

myForm.$error.required
myForm.$error.minlength
myForm.$error.maxlength


<form name="createForm"
  ng-submit="createNinja(createForm)"
  novalidate>


  <input type="text"
  name="name"
  ng-model="newNinja.name"
  ng-minlength="2"
  ng-maxlength="12"
  required>
  <p ng-show="createForm.name.$error.minlength">
    Ninja name is too short.
  </p>
  <p ng-show="createForm.name.$error.maxlength">
    Ninja name is too long.
  </p>
  <p ng-show="createForm.name.$error.required && createForm.$submitted">
    Ninja name is required.
  </p>


</form>

<input type="text" name="username" ng-model="user.username" >



<input
  ng-model="string"
  [name="string"]
  [required="string"]
  [ng-required="boolean"]
  [ng-minlength="number"]
  [ng-maxlength="number"]
  [ng-pattern="string"]
  [ng-change="string"]
  [ng-trim="boolean"]>
...
</input>
