<section>
    <div class="row">
        <form  >
            <div class="col-xs-4">
                <input class="form-control" type="text" ng-model="ninja.name" placeholder="Name">
            </div>
            <div class="col-xs-4">
                <input class="form-control" type="text" ng-model="ninja.age" placeholder="Age">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</section>