<section>
    <div class="row">
        <form ng-submit="updateNinja()">
            <div class="col-xs-4">
                <input class="form-control" type="text" ng-model="ninja.name" placeholder="Name">
            </div>
            <div class="col-xs-4">
                <input class="form-control" type="text" ng-model="ninja.age" placeholder="Age">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-success">Update</button>
                <a class="btn btn-default" ng-href="#/">Back</a>
            </div>
        </form>
    </div>
</section>
